@import "tailwindcss";
@import "tw-animate-css";
/* 
---break--- */
@custom-variant dark (&:is(.dark *));

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

body {
  font-family: "Inter";
}

#overlay-light {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 1;
}

#overlay-dark {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 2;
}

.content {
  width: 100%;
  height: 100vh;
  padding: 1em 0;
}

.content > * {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: #fff;
}

.divider {
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 0.2em 0;
}

.nav-divider {
  margin: 0.2em 0;
}

.row {
  width: 100%;
  height: 20px;
  display: flex;
  padding: 0 2em;
}
.row > .col {
  position: relative;
  flex: 1;
}

.row > .col:first-child {
  flex: 2;
}

@keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
/* 
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

h1 {
  /* font-size: 4.25rem; */
  /* font-weight: 600; */
  /* letter-spacing: -0.1rem; */
  line-height: 1;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1em;
  display: flex;
  gap: 1em;
  z-index: 2;
}

.nav .col:nth-child(1) {
  flex: 1;
}

.nav .col:nth-child(2) {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.home {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background-color: var(--background);
}

.home .header {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.home .header h1 {
  font-size: 30.5vw;
  text-align: center;
}

.home .hero-img {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  width: 95%;
  height: 50vh;
  overflow: hidden1;
}

.work {
  text-align: center;
  padding: 15em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: var(--background);
}

.work .projects {
  width: 32%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.work .projects img {
  aspect-ratio: 4/5;
}

.studio,
.contact {
  padding: 15em 1em;
  display: flex;
  gap: 1em;
  background-color: var(--background);
}

.studio .col:nth-child(1),
.contact .col:nth-child(1) {
  flex: 1;
}

.studio .col:nth-child(2),
.contact .col:nth-child(2) {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.studio .about-img {
  aspect-ratio: 5/7;
}

.contact {
  width: 100vw;
  height: 100%;
  min-height: 100svh;
}

.contact .socials {
  position: absolute;
  bottom: 1.5em;
  display: flex;
  gap: 1em;
}

.letter,
.word,
.line {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.revealer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  transform-origin: center top;
  background-color: #000;
  pointer-events: none;
  z-index: 2;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0 1em;
}

.projects-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.project-nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 1em;
  z-index: 2;
}

.project-nav .link {
  border-radius: 0.5em;
  background-color: #c6c6be;
}

.project-page-scroll-progress {
  position: relative;
  flex: 2;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  border: 1px solid #c6c6be;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
}

.project-page-scroll-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c6c6be;
  transform: scaleX(0%);
  transform-origin: center left;
  will-change: transform;
  z-index: -1;
}

.project-hero,
.project-footer {
  position: relative;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-footer-copy {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

.project-img {
  width: 50%;
  height: 75svh;
  overflow-y: hidden;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Prevent layout shifts */
  display: block;
  max-width: 100%;
  height: auto;
}

.next-project-progress {
  position: absolute;
  bottom: 25%;
  width: 50%;
  height: 4px;
  background-color: #c6c6be;
}

.next-project-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: scaleX(0%);
  will-change: transform;
}

@media (max-width: 900px) {
  .project-nav {
    width: 100vw;
  }

  .project-nav .link {
    display: none;
  }

  .project-img {
    width: 90%;
  }
}

/* 
---break--- */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* 
---break--- */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* 
---break--- */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
